# Prototype

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

path = 'D:/Programming/Uni/FYP/data/hateval2019_en_dev.csv'
testset = pd.read_csv(path)

testset.head(5)

      id                                               text  HS  TR  AG
0  18201  I swear I’m getting to places just in the nick...   0   0   0
1  18202  I’m an immigrant — and Trump is right on immig...   0   0   0
2  18203  #IllegalImmigrants #IllegalAliens #ElectoralSy...   1   0   1
3  18204  @DRUDGE_REPORT We have our own invasion issues...   1   0   1
4  18205  Worker Charged With Sexually Molesting Eight C...   0   0   0

In [11]:
testset.text.head(10)

0    I swear I’m getting to places just in the nick...
1    I’m an immigrant — and Trump is right on immig...
2    #IllegalImmigrants #IllegalAliens #ElectoralSy...
3    @DRUDGE_REPORT We have our own invasion issues...
4    Worker Charged With Sexually Molesting Eight C...
5    UN picks refugees for UK, picks mostly Syrian ...
6    @htTweets Delhi will be much better under Prez...
7    Global Compact on Migration moves forward http...
8    Violence toward tourists in Barcelona, Spain -...
9    Immigration decline costing UK economy billion...
Name: text, dtype: object

Need to remove tokens that have @ yeah!